{% extends "layout.html" %}

{% set bodyId = "page-search-results" %}

{% block title %}
    <title>Resultado da Pesquisa</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./styles/search-results.css">
{% endblock styles %}

{% block content %}

    {% include "./componets/header.html" %}

    <main>

        {% if total > 0 %}

            <h4>
                <strong>
                    {{total}}
                </strong>encontrados</h4>
            <div class="cards">

                {% for place in places %}
                    <div class="card">
                        <img src="{{place.image}}" alt="{{place.name}}">
                        <h1>{{place.name}}</h1>
                        <h3>{{place.items}}</h3>
                        <p>
                            {{place.city}},
                            {{place.state}}
                            <br/>
                            {{place.address}},
                            {{place.adress2}}
                            <br/>
                        </p>

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4><strong>Nenhum</strong>item encontrado!</h4>
        {% endif %}
    </main>
{% endblock content %}